* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    background-color: white;
}

.logo {
    width: 90px;
    height: 90px;
}

li {
    list-style: none;
    transition: all 0.4s;
    z-index: 12;
}

li:hover {
    transform: scale(1.1);
    color: white;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

h1 {
    font-size: 70px;
    text-transform: uppercase;
}

h3 {
    font-size: 30px;
    text-decoration: underline;
    font-weight: lighter;
}

p {
    margin-top: 60px;
    font-size: 14px;
}

.button {
    margin-top: 60px;
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(0, 0, 0, 0.2);
    letter-spacing: 3px;
}

.button:hover {
    transform: scale(1.1);
    background-color: rgb(0, 255, 255);
    transition: 0.4s;
}

img {
    width: 100%;
}

.main-container {
    width: 100vw;
    height: 100vh;
    scrollbar-width: none;
    overflow-x: scroll;
    overflow-y: hidden;
}

.main-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-nav {
    position: fixed;
    display: flex;
    padding: 2em 4em;
    z-index: 12;
}

.main-nav .ul_second {
    position: fixed;
    display: flex;
    right: 4em;
}

.main-nav .ul_second li {
    margin-left: 1.5em;
}

.main-nav .ul_second #border {
    padding: 0 15px;
    align-items: center;
}

.container {
    width: 400vw;
    display: flex;
    flex-direction: row;
}

.container .Intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
}

.container .Mat {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
}

.container .Kontakta {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
}

.container .Footer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8em;
}

.container .Intro .image {
    width: 400px;
    height: 600px;
}

.container_mat .image {
    width: 400px;
    height: 600px;
}

.container .Kontakta .image {
    width: 400px;
    height: 600px;
}

.container .Footer .image {
    width: 400px;
    height: 600px;
}

.content_intro {
    margin-top: 50px;
    margin-right: 100px;
    text-align: center;
    z-index: 10;
    background: linear-gradient(110deg, aqua 60%, rgb(0, 0, 0, 0.2) 60%);
    height: 350px;
}

.content_mat {
    margin-top: 50px;
    margin-right: 100px;
    text-align: center;
    z-index: 10;
    background: linear-gradient(110deg, aqua 60%, rgb(0, 0, 0, 0.2) 60%);
    height: 350px;
}

.content_kontakta {
    margin-top: 50px;
    margin-right: 100px;
    text-align: center;
    z-index: 10;
    background: linear-gradient(110deg, aqua 60%, rgb(0, 0, 0, 0.2) 60%);
    height: 350px;
}

.content_footer {
    margin-top: 50px;
    margin-right: 100px;
    text-align: center;
    z-index: 10;
    background: linear-gradient(110deg, aqua 60%, rgb(0, 0, 0, 0.2) 60%);
    height: 350px;
}

::-webkit-scrollbar {
    display: none;
}


/* footer */

*,
*:before,
*:after {
    box-sizing: border-box;
}

footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: black;
    background-color: white;
}

.footer>* {
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25rem;
    margin-bottom: 2em;
}

.footer-left img {
    width: 50%;
}

h2 {
    font-weight: 600;
    font-size: 17px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer img {
    width: 110px;
    height: 110px;
}

.footer li {
    line-height: 2rem;
}

.footer a {
    text-decoration: none;
}

.footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-felx;
    display: flex;
    flex-flow: row wrap;
}

.footer-right>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.footer-box a {
    color: #999;
}

.footer-bottom {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.footer-left p {
    padding-right: 20%;
    color: #999;
}

.socials a {
    background: #364a62;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a i {
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .footer-right>* {
        flex: 1;
    }
    .footer-left {
        flex: 1 0px
    }
    .footer-right {
        flex: 2 0px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 15px;
    }
}


/* footer */